@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mooli&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

body {
    @apply container mx-auto
}

.work {
    font-family: "Work Sans", sans-serif;
}

.playfir {
    font-family: "Playfair", serif;
}

.category {
    @apply text-lg text-[#131313] font-semibold
}

.item {
    @apply text-lg text-gray-500 font-semibold
}